<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>{% block title %}Inventory{% endblock %}</title>
  </head>
  <body class="h-100">

    <nav class="navbar navbar-expand-lg navbar-light bg-purple">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Entropy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="functional-tabs">
              {% if request.user.is_authenticated %}
              <a href="{% url 'store:create-allocation' %}" class="btn btn-dark mb-2">Assign</a>
              <a href="{% url 'store:add-equipment' %}" class="btn btn-dark mb-2">Add Equipment</a>
                <li class="nav-item">
                  <a class="nav-link text-white" aria-current="page" href="{% url 'store:equipment-types' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'accounts:users' %}">Users</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'store:allocations' %}" class="nav-link text-white">Allocations</a>
                </li>
              {% endif %}
            </div>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item functional-tabs">
              {% if request.user.is_authenticated %}
                <a href="{% url 'accounts:logout' %}" class="nav-link text-white">Logout</a>
              {% else %}
                <a href="{% url 'accounts:login' %}" class="nav-link text-white">Login</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <div class="d-flex justify-content-center align-items-center" style="height: 94%;">
        <div id="side-bar" style="height: 100%;">
          <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100%;">
            <a href="{% url 'store:equipment-types' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
              <span class="fs-4">Inventory Store</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <a href="{% url 'store:create-allocation' %}" class="btn btn-dark mb-2">Assign</a>
              <a href="{% url 'store:add-equipment' %}" class="btn btn-dark mb-2">Add Equipment</a>
              <li>
                <a href="{% url 'store:equipment-types' %}" class="nav-link link-dark">
                  Dashboard
                </a>
              </li>
              <li>
                <a href="{% url 'accounts:users' %}" class="nav-link link-dark">
                  Users
                </a>
              </li>
              <li>
                <a href="{% url 'store:allocations' %}" class="nav-link link-dark">
                  Allocations
                </a>
              </li>
            </ul>
            <hr>
            <div class="dropdown">
              <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user p-1" style="font-size: xx-large;"></i>
                <strong>{{request.user|title}}</strong>
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="{% url 'accounts:update-user' request.user.pk %}">Edit Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="container h-100">
          {% block content %}{% endblock %}
        </div>
      </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>