<div class="container mt-1">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if not search %}
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a href="" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                <li class="page-item">{{page_obj.number}}</li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="?page={{page_obj.next_page_number}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a href="" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            {% else %}
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a href="?search={{search}}&page={{page_obj.previous_page_number}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a href="" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                <li class="page-item">{{page_obj.number}}</li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="?search={{search}}&page={{page_obj.next_page_number}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a href="" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
</div>